<!DOCTYPE html>
<html>

<head>
    <!-- Helps make the website responsive -->
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Polynomial Equation Solver</title>
    <!-- To link the css file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section class="header">
        <nav>
            <!-- To add a navigation bar on top -->
            <h3 style="font-weight: bold; color:gainsboro; font-size:larger">HANDWRITTEN EQUATION SOLVER</h3>
            <div class="nav-Links">
                <ul>
                    <li><a href="#home" class="active">HOME</a></li>
                    <li><a href="#about">ABOUT US</a></li>
                    <li><a href="./solver.html">SOLVER</a></li>
                </ul>
            </div>
        </nav>

        <div class="text-box" id="home">
            <h1>Handwritten Polynomial Equation Solver!</h1>
            <p>The model has been made using a Deep Learning algorithm - Convolutional Neural Networks (CNN). <br> It takes in an image as the input and can solve any handwritten polynomial <br> equation upto a third degree polynomial. We hope you find it
                useful!
            </p>
            <a href="solver.html" class="hero-btn">USE THE SOLVER!</a>
        </div>
    </section>

    <!-- Page for About Us -->
    
</body>

</html>